{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}MyCMS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
	<meta name="google" content="no-translate" >
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	{block head}{/block}
</head>

<body>
{cache}
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand" n:href="Homepage:">MyCMS.cz</a>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			{/cache}
			<li n:class="$presenter->isLinkCurrent('Homepage:default') ? active, nav-item">
				<a class="nav-link" n:href="Homepage:">{_nav.home} <span class="sr-only">(current)</span></a>
			</li>
			<li n:class="$presenter->isLinkCurrent('Article:*') ? active , nav-item, dropdown">
				<a class="nav-link dropdown-toggle"  href="#"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_nav.articles}</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					{if $user->isAllowed('article', 'write')}
					<a class="dropdown-item" n:href="Article:create">{_nav.create}</a>
					{/if}
					{if $user->isInRole('admin')}
						<a class="dropdown-item" n:href="Article:admin">{_nav.administration}</a>
					{/if}
					<a class="dropdown-item" n:href="Article:list">{_nav.latest}</a>
				{*	<a class="dropdown-item" n:href="Sign:up">{_nav.up}</a> *}
				</div>
			</li>
			<li n:class="$presenter->isLinkCurrent('Category:*') ? active , nav-item, dropdown">
				<a class="nav-link dropdown-toggle"  href="#"   id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_nav.category}</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
                    {if $user->isAllowed('category', 'create')}
						<a class="dropdown-item" n:href="Category:create">{_nav.create}</a>
                    {/if}
					<a class="dropdown-item" n:href="Category:list">{_nav.list}</a>
				</div>
			</li>
	{*		{if $user->isInRole('admin')}
				<li n:class="$presenter->isLinkCurrent('Category:*') ? active , nav-item, dropdown">
					<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_nav.administration}</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" n:href="Category:create">{_nav.create}</a>
					</div>
				</li>
			{/if} *}
	<!--		<li class="nav-item">
				<a class="nav-link disabled" href="#">Disabled</a>
			</li> -->

			{if !$user->isLoggedIn()}
			<li n:class="$presenter->isLinkCurrent('Sign:*') ? active , nav-item, dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_nav.sign}</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" n:href="Sign:in">{_nav.in}</a>
					<a class="dropdown-item" n:href="Sign:up">{_nav.up}</a>
				</div>
			</li>
			{else}
				<li n:class="$presenter->isLinkCurrent('User:*') ? active , nav-item, dropdown">
					<a class="nav-link dropdown-toggle"  href="#"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{_nav.profile}</a>
					<div class="dropdown-menu" aria-labelledby="dropdown01">
						<a class="dropdown-item" n:href="User:detail $userEntity->route">{_nav.myProfile}</a>
						<a class="dropdown-item" n:href="User:settings">{_nav.settings}</a>
					</div>
				</li>
				<li>
					<a n:href="Logout!" class="nav-link">{_nav.logout}</a>
				</li>
			{/if}
		</ul>
		<form n:name="searchForm" class="form-inline my-2 my-lg-0">
			<input class="form-control mr-sm-2" placeholder="{_form.search.submit}" type="text" n:name="text" >
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" n:name="submit" >{_form.search.submit}</button>
		</form>
	</div>
</nav>

	<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible fade show" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		{$flash->message|noescape}
	</div>

	<div class="container">
		{include content}
	</div>

	{block scripts}
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	{/block}
</body>
</html>
