{block content}

{if count($informations) > 0}
<table class="infoTable">
{foreach $informations as $info }
    {var $data = explode('|', $info->content)}
    <tr>
        <td><p>
                {switch $data[0]}
                    {case 'register_user'}
                     <a n:href="User:detail $data[2]">{$data[1]}</a>{_$data[3]}
                    {case 'article'}
                    <a href="#">{$data[1]}</a>{_$data[3]}<a n:href="Article:detail $data[5]">{$data[4]}</a>
                    {case 'category'}
                    <a href="#">{$data[1]}</a>{_$data[3]}<a n:href="Category:detail $data[5]">{$data[4]}</a>
                {/switch}

                <small>{$info->time->format('H:i j.n')}</small>
            </p></td>
    </tr>
{/foreach}
</table>
{else}
    <h1 style="text-align: center; margin-top: 50px;">{_com.homepage.noInfo}</h1>
{/if}
