{block content}
    {var $count->users = $count->users[0][1]}
    {var $count->articles = $count->articles[0][1]}
    {var $count->categories = $count->categories[0][1]}
    {if $count->users > 0 || $count->categories > 0 || $count->articles > 0}
        {if $count->users > 0}
            <h1>{_com.search.users}</h1>
            <hr>
            {snippet users}
                {foreach $result->users as $searchedUser}
                    <h2><a n:href="User:detail $searchedUser->route">{$searchedUser->username}</a></h2>
                    <p n:ifcontent="$searchedUser->settings->description">{$searchedUser->settings->description}</p>
                {/foreach}
              {*  {if count($result->users) !== (int)$count->users}
                    <button onclick="btnClick({$text}, {count($result->articles)}, 'user')">{_com.search.more}</button>
                {/if} *}
            {/snippet}
        {/if}
        {if $count->categories > 0}
            <h1>{_com.search.categories}</h1>
            <hr>
            {snippet categories}
                {foreach $result->categories as $category}
                    <h2><a n:href="Category:detail $category->route">{$category->name}</a></h2>
                    <p>{$category->description}</p>
                {/foreach}
             {*   {if count($result->categories) != (int)$count->categories}
                    <button onclick="btnClick({$text}, {count($result->categories)}, 'category')">{_com.search.more}</button>
                {/if} *}
            {/snippet}
        {/if}
        {if $count->articles > 0}
            <h1>{_com.search.articles}</h1>
            <hr>
            {snippet articles}
                {foreach $result->articles as $article}
                    <h2><a n:href="Article:detail $article->route">{$article->title}</a></h2>
                    <p>{$article->description}</p>
                {/foreach}
              {*  {if count($result->articles) !== (int)$count->articles}
                    <button onclick="btnClick({$text}, {count($result->articles)}, 'article')">{_com.search.more}</button>
                {/if} *}
            {/snippet}
        {/if}
    {else}
        <h1>{_com.search.notFound}</h1>
    {/if}
{/block}
{block scripts}
    {include parent}
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script>
        function btnClick(text, count, entity){
            $.nette.ajax({
                type: "POST",
                dateType: "json",
                url: {link Homepage:search},
                data: { count: count ,text: text, entity: entity }
            });
        }
    </script>
{/block}