{block content}
{if count($articles) > 0}
    <table>
        {foreach $articles as $article}
            <tr>
                <td>
                    <h2><a n:href="Article:detail $article->route">{$article->title}</a></h2> {_article.author}
                    <a n:href="User:detail $article->user->route">{$article->user->username}</a>
                </td>
            </tr>
            <tr>
                <td>
                    {$article->description}
                </td>
            </tr>
        {/foreach}
    </table>
    {else}
    <h1>{_article.zeroToRelease}</h1>
{/if}
{/block}