{block content}
<form n:name=createArticleForm style="margin-top: 25px" class="form-article">
    <h2 class="form-signin-heading">{_form.article.h2}</h2>
    <div class="error">{inputError title}</div>
    <label for="inputEmail" class="sr-only">{_form.article.title}</label>
    <input n:name=title type="email" id="title" class="form-control" placeholder="{_form.article.title}" required="" autofocus="">
    <label for="inputEmail" class="sr-only">{_form.article.route}</label>
    <input n:name=route id="route-input" type="text" class="form-control" placeholder="{_form.article.route}" required="" autofocus="">
    <div class="checkbox">
        <center>
            <label>
                <input id="route" type="checkbox"> {_form.article.generateURL}
            </label>
        </center>
    </div>
    <label for="inputCategory" class="sr-only">{_form.article.title}</label>
    <center>{input category}</center>
    <label for="inputPassword" class="sr-only">{_form.article.description}</label>
    <textarea n:name=description id="inputPassword" class="form-control" placeholder="{_form.article.description}" required=""></textarea>
    {snippet show}
        <div id="area">
            {if $edit === "true"}
                <label for="inputContent" class="sr-only">{_form.article.content}</label>
                {input $control['createArticleForm']->getComponent('content')->setDefaultValue($text)}
            {else}
                    <div id="edit-area" style="border: 1px solid black; width: 75%; margin: 0 auto" class="form-textArea preview">
                        {$text|texy|noescape}
                    </div>
            {/if}
        </div>
    {/snippet}
    <button n:name=submit class="btn btn-lg btn-primary btn-block" type="submit">{_form.article.submitCreate}</button>
    {input articleId}
</form>
    <div id="buttons">
        {snippet buttons}
            {if $edit === "true"}
                <button id="btn-show" onclick="btnClick(false)">{_form.article.show}</button>
            {else}
                <button id="btn-edit" onclick="btnClick(true)">{_form.article.edit}</button>
            {/if}
        {/snippet}
    </div>
{/block}
{block scripts}
{include parent}
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/URL.js"></script>
    <script>
        var data;
        function btnClick(edit){

            if(edit == false)
                data = $('#inputContent').val();

            $.nette.ajax({
                type: "POST",
                dateType: "json",
                url: {link change!},
                data: { edit: edit ,text: data }
            });
        }
    </script>
{/block}