{block content}
<h1>{$article->title}</h1>
<p>{$article->description}</p>
<p>{$article->content|texy|noescape}</p>
<p>{_article.author}<a n:href="User:detail $article->user->route" >{$article->user->username}</a></p>
<p>{_article.category}<a n:href="Category:detail $article->category->route">{$article->category->name}</a></p>
    {if $user->isAllowed('article', 'edit')}
        <p><a n:href="Article:edit $article->route">{_com.base.edit}</a> | <a n:href="delete! $article->id">{_com.base.delete}</p>
    {/if}
    {if $user->isInRole('admin') && $article->released === 0}
        <p>
            <a n:href="release! $article->id">{_article.release}</a>
        </p>
    {/if}
<hr>
{foreach $article->comments as $comment}
    {$comment->content}
{/foreach}