{block content}
<h1>{_com.article.latest}</h1>
<hr>
<table>
    {foreach $articles as $article}
        <tr>
            <td>
                <h2>
                    <a n:href="Article:detail $article->route">{$article->title}</a>
                </h2>
            </td>
        </tr>
        <tr>
            <td>{$article->description}</td>
        </tr>
    {/foreach}
</table>