{block content}
<h2>{$category->name}</h2>
    <h5>{$category->description}</h5>
    {if $user->isAllowed('category')}
        <p>
            <a n:href="Category:edit $category->route">{_view.category.edit}</a>
            | <a n:href="delete! $category->id">{_view.category.delete}</a>
        </p>
    {/if}
    <hr>
{if count($category->articles) > 0 }
    <table>
        {foreach $category->articles as $article}
            <tr>
                <td>
                    <h2>
                        <a n:href="Article:detail $article->route">{$article->title}</a>
                    </h2>
                </td>
            </tr>
            <tr>
                <td>{$article->description}</td>
            </tr>
        {/foreach}
    </table>
{else}
    <h3>{_view.category.noArticles}</h3>
{/if}