{block content}
<form n:name=createCategoryForm style="margin-top: 25px" class="form-signin">
    <h2 class="form-signin-heading">{_form.category.h2edit}</h2>
    <div class="error">{inputError name}</div>
    <label for="inputEmail" class="sr-only">{_form.category.nameColumn}</label>
    <input n:name=name type="email" id="title" class="form-control" placeholder="{_form.category.nameColumn}" required="" autofocus="">
    <label for="inputEmail" class="sr-only">{_form.article.route}</label>
    <input n:name=route id="route-input" type="text" class="form-control" placeholder="{_form.article.route}" required="" autofocus="">
    <div class="checkbox">
        <center>
            <label>
                <input id="route" type="checkbox"> {_form.article.generateURL}
            </label>
        </center>
    </div>
    <label for="inputPassword" class="sr-only">{_form.category.descriptionColumn}</label>
    <textarea n:name=description id="inputPassword" class="form-control" placeholder="{_form.category.descriptionColumn}" required=""></textarea>
    <button n:name=submit class="btn btn-lg btn-primary btn-block" type="submit">{_form.category.submitEdit}</button>
</form>
{/block}
{block scripts}
    {include parent}
    <script src="{$basePath}/js/URL.js"></script>
{/block}