{block content}
{if count($categories) > 0}
        {foreach $categories as $data}
            {var $category = $data[0]}
            <h2>
                <a n:href="Category:detail $category->route">{$category->name}</a>
            </h2>
            {$data['articlesCount']}
            {$category->description}
            {if $user->isAllowed('category', 'edit')}
                <a n:href="Category:edit $category->route" >{_com.base.edit}</a>
            {/if}
        {/foreach}
{else}
    {_view.category.noCategories}
{/if}
