{block content}

    <form n:name=signInForm style="margin-top: 25px" class="form-signin">
        <h2 class="form-signin-heading">{_sign.signInLabel}</h2>
        <div class="error">{inputError username}</div>
        <label for="inputEmail" class="sr-only">{_sign.username}</label>
        <input n:name=username type="email" id="inputEmail" class="form-control" placeholder="{_sign.username}" required="" autofocus="">
        <label for="inputPassword" class="sr-only">{_sign.password}</label>
        <input n:name=password type="password" id="inputPassword" class="form-control" placeholder="{_sign.password}" required="">
        <div class="checkbox">
            <label>
                <input n:name=remember type="checkbox" value="remember-me"> {_sign.rememberMe}
            </label>
        </div>
        <button n:name=login class="btn btn-lg btn-primary btn-block" type="submit">{_sign.signInButton}</button>
    </form>


