{block content}

<form n:name=signUpForm style="margin-top: 25px" class="form-signin">
    <h2 class="form-signin-heading">{_sign.signUpLabel}</h2>
    <div class="error">{inputError username}</div>
    <label for="inputEmail" class="sr-only">{_sign.username}</label>
    <input n:name=username title="{_sign.usernameTitle}" type="email" id="inputEmail" class="form-control" placeholder="{_sign.username}" required="" autofocus="">
    <label for="inputEmail" class="sr-only">{_sign.email}</label>
    <input n:name=email type="email" id="inputEmail" class="form-control" placeholder="{_sign.email}" required="" autofocus="">
    <label for="inputPassword" class="sr-only">{_sign.password}</label>
    <input n:name=password  id="inputPassword" class="form-control" placeholder="{_sign.password}" required="">
    <label for="inputEmail" class="sr-only">{_sign.passwordAgain}</label>
    <input n:name=passwordAgain id="inputEmail" class="form-control" placeholder="{_sign.passwordAgain}" required="" autofocus="">
    <button n:name=register class="btn btn-lg btn-primary btn-block" type="submit">{_sign.register}</button>
</form>
