$center: 0 auto;

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: $center;

  input{
    margin-bottom: 5px;
  }
}

.error{
  color: red;
}

body{
  font-family: 'PT Sans', sans-serif;
}

.infoTable{
  margin-top: 30px;
}

.form-article{
  padding: 15px;
  input, textarea, select, button{
    margin: 5px auto;
    width: 75%;
    display: block;
  }
/*  select{
    width: 75%;
  }*/
}

.form-textArea{
//  width: 75%;
  min-height: 500px;
//  margin: 0 auto;
  display: block;
}

.preview{
  border: 1px solid black;
  width: 75%;
  margin: 0 auto
}