.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }
  .form-signin input {
    margin-bottom: 5px; }

.error {
  color: red; }

body {
  font-family: 'PT Sans', sans-serif; }

.infoTable {
  margin-top: 30px; }

.form-article {
  padding: 15px;
  /*  select{
      width: 75%;
    }*/ }
  .form-article input, .form-article textarea, .form-article select, .form-article button {
    margin: 5px auto;
    width: 75%;
    display: block; }

.form-textArea {
  min-height: 500px;
  display: block; }

.preview {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
